{% extends 'dashboard/base.html' %}
{% block title %}تغییر رمز{% endblock %}
{% block content %}
<h2>تغییر رمز عبور</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label>رمز فعلی</label>
        <input type="password" name="old_password" required>
    </div>
    <div>
        <label>رمز جدید</label>
        <input type="password" name="new_password" required>
    </div>
    <div>
        <label>تکرار رمز</label>
        <input type="password" name="confirm_password" required>
    </div>
    <button type="submit" class="btn-booking">تغییر</button>
    <a href="{% url 'dashboard:profile' %}" class="btn-danger">انصراف</a>
</form>
{% endblock %}
